/*
 * (c)2002-2015 Skava. All rights reserved. The Skava system, including without
 * limitation, all software and other elements thereof, are owned or controlled
 * exclusively by Skava and protected by copyright, patent, and other laws. Use
 * without permission is prohibited. For further information contact Skava at
 * info@skava.com.
 */

div[widgetType = 'SCHtmlDataRender']
{

}

div[widgetType = 'SCHtmlDataRender'].child
{

}

p, ul, li, h1, h2, h3, h4, h5, h6, body, pre, code {
    margin: 0;
    padding: 0;
}

.wholeWrapper {
    padding: 20px;
    font-family: 'Open Sans','sans serif';
    box-sizing: border-box;
    margin: 110px 0px 0px 70px;
	transition: all 400ms ease;
}

.desc-Content::first-letter,.title-text, .subTitle-text {
    text-transform: capitalize;
}

.desc-Content, .titleDesc-Content, .listType-Content {
    text-align: justify;
}

.title-text {
    font-weight: lighter;
    font-size: 26px;
    color: #2e2f33;
    padding: 0 0 32px 0;
	
}

.subTitle-text{
    font-weight: bold;
    font-size: 17px;
    color: #2e2f33;
    padding: 0 0 32px 0;
}

.titleDesc-Content {
    font-weight: bold;
    font-size: 13px;
    color: #2e2f33;
    padding: 0 0 32px 0;
}

.desc-Content {
    font-weight: lighter;
    font-size: 16px;
    color: #2e2f33;
    padding: 0 0 32px 0;
}

.text-highlight {
    font-weight: lighter;
    font-style: italic;
    font-size: 16px;
    color: #0051b2;
}

.text-bolded {
    font-weight: bold;
    font-size: 16px;
    color: #2e2f33;
}

.showMore-text {
    font-weight: bold;
    font-size: 16px;
    color: #005566;
    padding: 0 0 32px 0;
    text-decoration: none;
	cursor: pointer;
}

.showMore-text::before {
   
    margin: 0 5px 0 0;
    font-size : 20px;
    color : #005566;
}

.listType-Content {
    font-weight: lighter;
    font-size: 16px;
    color: #2e2f33;
    list-style: none;
    counter-reset: number;
    padding: 0 0 26px 0;
}

.listType-Content li.listType-Value {
    margin-bottom: 10px;
	padding-top:20px;
    counter-increment: number;
}

.listType-Content.steps  {
    padding-left: 30px;
}

.steps li.listType-Value::before {
    content: 'Step 'counter(number)' :';
    font-size: 16px;
    font-weight: bold;
    padding: 0 10px 0 0;
}

.number li.listType-Value::before {
    content: ''counter(number)'.';
    font-size: 16px;
    font-weight: bolder;
    color: #0051b2;
    float: left;
}

.separator {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    margin: 0 0 36px 0;
}

.rmv-padd {
    padding: 0px;
}

.image-class {
	width:1000px;
	height: 700px;
	margin: 0 auto;

}
.image-class figcaption {
    margin: 0 0 32px 0;
    font-weight: lighter;
    font-style: italic;
    font-size: 13px;
}

.item-Contleft {
    float: left;
    width: 50%;
    position: relative;
}
.item-Contright {
    float: right;
    padding: 39px 0px 39px 30px;
	box-sizing: border-box;
    width: 50%;
}

.code-head {
    font-size: 16px;
    color: #2e2f33;
    padding: 5px 14px 10px;
    border: 1px solid rgba(0, 0, 0, 0.38);
    border-radius: 3px 3px 0 0;
    border-bottom: none;
    width: 84px;
    box-sizing: border-box;
}

.border-line {
    border-top: 1px solid rgba(0, 0, 0, 0.38);
    width: calc(100% - 84px);
    position: absolute;
    left: 83.3px;
}

.code-content {
    background-color: rgba(162, 159, 159, 0.17);
    border: 1px solid rgba(0, 0, 0, 0.38);
    overflow-x: auto;
    border-top: none;
}
    
.instruct-title {
    font-size: 16px;
    border: 1px solid rgba(0, 0, 0, 0.38);
    padding: 14px;
    background-color: rgba(162, 159, 159, 0.17);
    border-bottom: none;
}

.instruct-cont {
    border: 1px solid rgba(0, 0, 0, 0.38);
    padding: 20px;
    background-color: #fff;
}

.codeinstruct-desc {
    margin: 0 0 0 20px;
}

.desc-Title {
    font-size: 16px;
    color: #0051b2;
    width: 100%;
}

.float-next {
    clear: both;
}

.code-content pre {
    counter-reset: numbering;
    margin: 20px 0;
    white-space: nowrap;
}
.code-content pre code {
    display: block;
}
.code-content pre code div {
   counter-increment: numbering;
   padding: 3px 0 0 0;
}
.code-content pre code div::before {
   content: counter(numbering);    
   padding: 0 5px 0 15px;
   color: rgba(0, 0, 0, 0.38);
   display: inline-block;
   width: 20px;
   text-align: right;
}
.col-brown {
    color: brown;
}
.col-viol {
    color: #952095;
}
.col-green {
    color: #0dcb0d;
}
.sym-separator {
    color: black;
}
.font-bold {
    font-weight: bold;
}

 @media only screen and (min-width: 320px) and (max-width : 768px) {
    .listType-Content {
        padding-bottom: 16px;
    }
    .listType-Content.steps  {
       padding-left: 15px;
    }
    .steps li.listType-Value::before {
        padding: 0 5px 0 0;
    }
    .title-text, .titleDesc-Content, .desc-Content {
        padding-bottom: 16px;
    }
    .item-Contleft {
        width: 100%;
    }
    .item-Contright {
        width: 100%;
        margin: 32px 0 0 0; 
    }
	.wholeWrapper {
		margin: 70px 0px 0px 0px;
	}
	.image-class {
		width: 100%;
		height: 300px;
	}
}