/**
    image directory path 
**/
$img-dir-path : "../img/";

/**
    browser support 
    chrome / safari   -> -webkit-
    mozilla / firefor -> -moz-
    ie                -> -ms-
    konqueror         -> -khtml-
    opera             -> -o-
**/
$browser-list : ();

/**
    custom fonts type support
    eot   -> IE6-IE8 & IE9 Compat Modes
    woff  -> Pretty Modern Browsers
    woff2 -> Super Modern Browsers
    ttf   -> Safari, Android, iOS
    svg   -> Legacy iOS
**/
$custom-fonts-format-list: ();