$fb-control-panel-buttons: (
    selector     : "%fb-buttons",
    border-radius: 0px,    
    cursor       : pointer,
    text-align   : center,

    button-list: (
        selectsize: (
            default: (
                selector  : '.sktl-tab-button',
                bgcolor   : #656565,
                dimension : (200%, 72px)                           
            ),
            active: (
                selector  : '.sktl-tab-button.active',
                bgcolor   : #333
            )
        ),

        fieldbtn: (
            default: (
                selector: '.sktl-fields-item, .skfl-add-btn, .skfl-save-btn',                
                border-radius: 4px
            ),
            hover: (
                selector: '.sktl-fields-item:hover',
                bgcolor : #333
            )
        )
        
    )
);