@import url('https://fonts.googleapis.com/css?family=PT+Sans|Roboto:100,400,500,700');

$fb-control-panel-typo-regular: (
    selector  : '%fb-control-typo-regular',
    font      : 'Open Sans',
    alternate : 'Arial, Helvetica',

    typo-list: (

        header: (
            default: (
                selector: '.sktl-head-wrapper',
                color   : white,
                size    : 32px,
                transform: uppercase,
                weight: 700,
                indent: 10px,
                l-height: 28px
            )
        ),

        tabtitle: (
            default: (
                selector: '.sktl-tab-button',
                color   : white,
                size    : 26px,
                l-height: 36px,
                transform: capitalize
            )
        ),

        fieldheader: (
            default: (
                selector: '.sktl-webele-title',
                color   : white,
                size    : 26px,
                transform: capitalize,
                l-height: 36px,
                indent: 10px
            )
        ),

        fieldbtn: (
            default: (
                selector: '.sktl-fields-item, .skfl-add-btn',
                color   : white,
                size    : 24px,
                l-height: 28px,
                transform: capitalize
            )
        ),
        savebtn: (
            default: (
                selector: '.skfl-save-btn',
                color   : #3a3a3a,
                size    : 28px,
                l-height: 35px,
                weight  : bold,          
            )
        ),

        editlabel: (
            default: (
                selector: '.skfl-edit-sec-title, .skfl-edit-group-title',
                color   : #a6a6a6,
                size    : 26px,
                l-height: 32px,
                transform: capitalize
            )
        ),

        editdata: (
            default: (
                selector: '.skdata-handler',
                color   : white,
                size    : 26px,
                l-height: 32px
            )
        ),

        selectopt: (
            default: (
                selector: '.skdata-handler option',
                color   : black
            )
        ),

        deleteicon: (
            default: (
                selector: '.skfl-group-item-delete',
                color   : #ffffff,               
                l-height: 18px,
                align   : center
            )
        ),

        groupaccordtit:  (
            default: (
                selector: '.skfl-group-header-txt',
                color   : #ffffff,  
                size    : 28px,            
                l-height: 25px              
            )
        ),

        fieldbtns: (
            default: (
                selector: '.skfl-col-count, .skfl-buttons > div',
                color   : #ffffff,
                size    : 22px,
                align   : center,
                transform: uppercase
            )

        ),

        welcomemsg: (
            default: (
                selector: '.skf-welcome-msg',
                size    : 60px,
                align   : center,
                l-height: 620px
            )
        ),

        editerror: (
            default: (
                selector: '.skfl-edit-pr div[generated="true"]',
                size    : 24px,
                color   : #ffb52a
            )
        ),

        accheader: (
            default: (
                selector: '.skfl-accordian-title',
                size    : 26px,
                l-height: 42px,
                color   : white
            )
        )

    )

);


$fb-field-typo-regular: (
    selector  : '%fb-typo-regular',
    font      : 'Open Sans',
    alternate : 'Arial, Helvetica',

    typo-list: (

        header: (
            default: (
                selector: '.skfl-data-panel h3',
                size    : 48px,
                weight  : 700
            )
        ),

        titles: (
            default: (
                selector: '.skfl-data-panel > div.skfl-title',
                size    : 30px,
                weight  : 700
            )
        ),

        button: (
            default: (
                selector: '.skfl-data-panel .skfl-button',
                size    : 30px
            )
        ),

        mandatory: (
            default: (
                selector: '.skfl-data-panel .skfl-mandatory',
                size    : 26px,
                color   : red
            )
        ),

        data: (
            default: (
                selector: 'div.skfl-title, .skfl-data-panel p, .skfl-data-panel input, .skfl-data-panel textarea, .skfl-data-panel select',
                size    : 26px
            )
        ),

        help: (
            default: (
                selector: '.skfl-help-text',
                size    : 26px,
                color   : white,
                align   : center,
                l-height: 20px
            )
        ),

        helphover: (
            default: (
                selector: '.skfl-help-text:hover:after',
                size    : 26px,
                color   : white,
                align   : left,
            )
        ),
        
        slabel: (
            default: (
                selector: '.skfl-slabel-text',
                size    : 22px,
                color   : #ababab,
                style   : italic,
                l-height: 18px
            )
        ),

         error: (
            default: (
                selector: '.skfl-data-panel label.error',
                size    : 26px,
                color   : red
            )
        )

    )

);


$adze-icon-fnt:(
    selector  : '%adze-icon-fnt',
    font      : 'Flaticon',
    alternate : 'Arial, Helvetica',

    typo-list: (
        copy-info-icn: (
            default: (
                selector: '.card_info:before',
                size : 40px,
                color: #4680fe
            )
        ),
        copy-copy-icn: (
            default: (
                selector: '.card_adze_copy:before',
                size : 52px,
                color: #4680fe
            )
        )
    )
);

$adze-roboto-bold:(
    selector  : '%adze-roboto-bold',
    font      : 'Roboto',
    alternate : 'Arial, Helvetica',
    weight    : 700,

    typo-list: (
        mixin-syntax: (
            default: (
                selector: '.card_Mixin',
                size : 36px,
                color: #fb607f,
            )
        ),
      
        scss-titles: (
            default: (
                selector : '.card_ss_wrapper .card_ss_title',
                size     : 32px,
                color    : #4680fe,
            )
        ),

        ol-title: (
            default: (
                selector : '.adze_overlay h3.adze_ol_headTxt',
                size     : 40px,
                color    : #ffffff,
            )
        ),

        tab-title: (
            default: (
                selector : '.adze_overlay .adze_ol_list ',
                size     : 30px,
                color    : #fb607f,
                transform : uppercase,
                cursor   : pointer
            )
        ),

        hiw-tabs: (
            default: (
                selector : '.adze_overlay .adze_ol_howworks .adze_ol_hiw_tit ',
                size     : 30px,
                color    : #9e9e9e,
            )
        ),
        ol-header-txt: (
            default: (
                selector : '.adze_overlay_header h3 ',
                size     : 40px,
                color    : #fff,
                l-height : 60px
            )
        ),
        ol-close-icn: (
            default: (
                selector : '.adze_overlay_header span ',
                size     : 180px,
                l-height : 0,
                weight   : 200,
                color    : #fff,
            )
        ),
        cat-title: (
            default: (
                selector : '.filter-wrapper h3',
                size     : 30px,
                color    : #1e1e1e,
                padding  : 0,
                margin   : 0,
                transform : capitalize
            )
        ),
    )
);

$adze-roboto-medium:(
    selector  : '%adze-roboto-medium',
    font      : 'Roboto',
    alternate : 'Arial, Helvetica',
    weight    : 500,

    typo-list: (
        card-title: (
            default: (
                selector: '.card_title',
                size : 36px,
                color: #1e1e1e,
                transform : capitalize,
            )
        ),
        ol-copied: (
            default: (
                selector: '.ol_copiedTxt',
                size : 160px,
                color: #fff,
                transform : uppercase,
                align: center,
                shadow : 1px 2px #333
            )
        ),
      
    )
);


$adze-ptsans:(
    selector  : '%adze-ptsans',
    font      : 'PT Sans',
    alternate : 'Arial, Helvetica',
    
    typo-list: (
        card-desc: (
            default: (
                selector: '.card_desc',
                size : 30px,
                color: #555555,
                margin-top : 20px
            )
        ),
         code: (
            default: (
                selector: '.card_ss_code pre, .card_ss_code code',
                size : 32px,
                color: #1e1e1e
            )
        ),
         ol-arg-title: (
            default: (
                selector: '.adze_ol_args .adze_ol_arg_tit',
                size : 30px,
                color: #fb607f,
                margin : 10px 0
            )
        ),
         ol-arg-st: (
            default: (
                selector: '.adze_ol_args .adze_ol_arg_st',
                size : 30px,
                color: #555555,
                margin : 10px 0
            )
        ),
         ol-arg-desc: (
            default: (
                selector: '.adze_ol_args .adze_ol_arg_desc',
                size : 30px,
                color: #555555,             
            )
        ),
         ol-hiw-code: (
            default: (
                selector: '.adze_ol_hiw_code, .adze_ol_hiw_sel, .adze_ol_hiw_cb',
                size : 30px,
                color: #757575,             
            )
        ),
         ol-minimize: (
            default: (
                selector: 'span.adze_ol_headTxt',
                size : 140px,
                color: #fff,             
            )
        ),
         ol-brace: (
            default: (
                selector: '.adze_ol_hiw_cb',
                size : 30px,
                color: #757575,             
            )
        ),
         cat-list: (
            default: (
                selector: '.category-list .chklabel',
                size : 30px,
                color: #1e1e1e,             
            )
        ),
        sort-list: (
            default: (
                selector: '.sorting-list li, .sorting-list label.selected',
                size : 28px,
                color: #1e1e1e,   
                l-height: 40px,
                transform: capitalize         
            )
        ),
        sort-list-sel: (
            default: (
                selector: '.sorting-list label.selected',
                size : 28px,
                color: #fb607f,   
                l-height: 40px,
                transform: capitalize 
            )
        )
      
    )
)


