/**
    enable tranisition with 24 types of easing techniques
**/
@mixin register-transition($prop:all, $duration:600ms, $easing:ease, $delay:null) {
    
    $transition-easing: ( 
        'ease'          : 'ease',
        'ease-in'       : 'ease-in',
        'ease-out'      : 'ease-out',
        'ease-in-out'   : 'ease-in-out',
        'easeInQuad' 	: 'cubic-bezier(0.550, 0.085, 0.680, 0.530)', 
        'easeOutQuad'	: 'cubic-bezier(0.250, 0.460, 0.450, 0.940)', 
        'easeInOutQuad' : 'cubic-bezier(0.455, 0.030, 0.515, 0.955)',
        'easeInCubic' 	: 'cubic-bezier(0.550, 0.055, 0.675, 0.190)',
        'easeOutCubic' 	: 'cubic-bezier(0.215, 0.610, 0.355, 1.000)',
        'easeInOutCubic': 'cubic-bezier(0.645, 0.045, 0.355, 1.000)',
        'easeInQuart' 	: 'cubic-bezier(0.895, 0.030, 0.685, 0.220)',
        'easeOutQuart' 	: 'cubic-bezier(0.165, 0.840, 0.440, 1.000)',
        'easeInOutQuart': 'cubic-bezier(0.770, 0.000, 0.175, 1.000)',
        'easeInQuint' 	: 'cubic-bezier(0.755, 0.050, 0.855, 0.060)',
        'easeOutQuint' 	: 'cubic-bezier(0.230, 1.000, 0.320, 1.000)',
        'easeInOutQuint': 'cubic-bezier(0.860, 0.000, 0.070, 1.000)',
        'easeInSine' 	: 'cubic-bezier(0.470, 0.000, 0.745, 0.715)',
        'easeOutSine' 	: 'cubic-bezier(0.390, 0.575, 0.565, 1.000)',
        'easeInOutSine' : 'cubic-bezier(0.445, 0.050, 0.550, 0.950)',
        'easeInExpo' 	: 'cubic-bezier(0.950, 0.050, 0.795, 0.035)',
        'easeOutExpo' 	: 'cubic-bezier(0.190, 1.000, 0.220, 1.000)',
        'easeInOutExpo' : 'cubic-bezier(1.000, 0.000, 0.000, 1.000)',
        'easeInCirc' 	: 'cubic-bezier(0.600, 0.040, 0.980, 0.335)',
        'easeOutCirc' 	: 'cubic-bezier(0.075, 0.820, 0.165, 1.000)',
        'easeInOutCirc' : 'cubic-bezier(0.785, 0.135, 0.150, 0.860)',
        'easeInBack' 	: 'cubic-bezier(0.600, -0.280, 0.735, 0.045)',
        'easeOutBack' 	: 'cubic-bezier(0.175, 0.885, 0.320, 1.275)',
        'easeInOutBack' : 'cubic-bezier(0.680, -0.550, 0.265, 1.550)'
    );
   
    $easing: map-get($transition-easing, $easing);
    $easing: if($easing != null, $easing, ease);

    @if $prop != null and $duration != null {
        @include browser-prefix('transition', $prop $duration unquote($easing) $delay);
    }

};

/**
    enable-transition
**/
@mixin disable-transition() {
    @include browser-prefix('transition', none);
};

/**
    enable transform
**/
@mixin transform($properties...) {
    @if $properties != null and length($properties) > 0 {
        @include browser-prefix('transform', join($properties, (), space));
    }
};

/**
    disable transform
**/
@mixin disable-transform() {
    @include browser-prefix('transform', none);
};

/**
    set tranisition delay
**/
@mixin set-delay($val:1s) {
    @include browser-prefix('transition-delay', $val);
};

/**
    remove tranisition delay
**/
@mixin remove-delay() {
    @include browser-prefix('transition-delay', 0s);
};

/**
    set perspective
**/
@mixin set-perspective($val:null) {
    @include browser-prefix('perspective', $val);
};

/**
    remove perspective
**/
@mixin remove-perspective() {
    @include browser-prefix('perspective', none);
};

/**
    set transform origin
**/
@mixin set-transform-origin($x, $y:null, $z:null) {
    @include browser-prefix('transform-origin', ($x $y $z));
};

/**
    remove transform origin
**/
@mixin remove-transform-origin() {
    @include browser-prefix('transform-origin', 0px);
};

/**
    set perspective origin
**/
@mixin set-perspective-origin($x, $y:null) {
    @include browser-prefix('perspective-origin', ($x $y));
};

/**
    remove transform origin
**/
@mixin remove-perspective-origin() {
    @include browser-prefix('perspective-origin', 0px);
};

/**
    set transform style
**/
@mixin transform-style($style:flat) {
    @include browser-prefix('transform-style', $style);
};

/**
    preserve-3d
**/
@mixin preserve-3d() {
    @include transform-style(preserve-3d);
};

/**
 combine transform properties in one line
***/
@mixin combine-transform-props($trans-config) {
    $tranform-prop: null;
    @each $key, $val in $trans-config {
        @if $val != null {
            $tranform-prop: $tranform-prop #{$key}unquote("("+$val+")");
        }
    }
    @include transform($tranform-prop);
};

/**
    rendering all transitions properties
**/
@mixin render-tween-properties($single-obj-model, $do-reg-tween:false) {

    @if $single-obj-model != null {
        
        $selector: map-get($single-obj-model, 'selector');
        
        @if  $selector != null {

            #{$selector} {

                @each $key, $val in $single-obj-model {

                    @if $key != null and $key != 'selector' {

                        @if type-of($val) == map and $key == 'transform' {
                             @include combine-transform-props($val);
                        }
                        @else if type-of($val) == list {
                             @include bounds($key, $val);
                        }
                        @else {
                            #{$key}: #{$val};
                        }
                    } 
                }

                 @if $do-reg-tween != null {
                     @if type-of($do-reg-tween) == list {
                        @include register-transition($do-reg-tween...);
                     }
                     @else if $do-reg-tween {
                         @include register-transition();
                     }
                }
            }
        }
    }

};

/**
    tween a element(s) - current state to new state    
    use this on events basis
**/
@mixin animate-to($single-obj-model, $do-reg-tween:false) {
    @include render-tween-properties($single-obj-model, $do-reg-tween);
};

/**
    tween a element(s) - from current state to new state
    use this on intro/launch basis
**/
@mixin animate-from-to($multi-obj-model, $do-reg-tween:false) {

    @if $multi-obj-model != null {

        $som-from-config: map-get($multi-obj-model, 'from');
        $som-to-config: map-get($multi-obj-model, 'to');
        $reflectors-config: map-get($multi-obj-model, 'reflectors');

        @each $key, $val in $som-to-config {

            @if $val != null and type-of($val) != list {
                $has-duplicate: is-duplicate($som-from-config, $key, $val);
                
                @if $has-duplicate {
                    $som-to-config: map-remove($som-to-config, $key);
                }
            }
        }

        @if $som-from-config != null and $som-to-config != null {
            @include render-tween-properties($som-from-config, $do-reg-tween);
            @include render-tween-properties($som-to-config);

            @if  $reflectors-config != null {

                @each $key, $ref-config in $reflectors-config {                    
                    @include render-tween-properties($ref-config, $do-reg-tween);
                }
            }
            
        }
        
    }
};

/**
    append css based on the selecor or not
    this is tween library's local mixin
**/
@mixin append-css-by-selector($selector:null, $css:null, $do-reg-tween:null) {

     @if $css != null {

         @if $selector != null  {
             #{$selector} {            
                #{$css}
                @if $do-reg-tween != null {
                    @include register-transition(opacity, 500ms, ease);
                }
            }
         }
         @else {
            #{$css}
            @if $do-reg-tween {
                @include register-transition(opacity, 500ms, ease);
            }
         }
    }
   
};

/**
    fade-in animation
**/
@mixin fade-in($selector:null, $do-reg-tween:false) {
    $single-obj-model: (
        selector: $selector,
        opacity : 1
    );
    @include animate-to($single-obj-model, $do-reg-tween);
   
};

/**
    fade-out animation
**/
@mixin fade-out($selector:null, $do-reg-tween:false) {
    $single-obj-model: (
        selector: $selector,
        opacity : 0
    );
    @include animate-to($single-obj-model, $do-reg-tween);   
};

/**
    slide-x animation
**/
@mixin slide-x($selector:null, $pos:0px, $do-reg-tween:false) {
    $single-obj-model: (
        selector: $selector,
        transform: (
            translateX: $pos
        )
    );
    @include animate-to($single-obj-model, $do-reg-tween);   
};

/**
    slide-y animation
**/
@mixin slide-y($selector:null, $pos:0px, $do-reg-tween:false) {
    $single-obj-model: (
        selector: $selector,
        transform: (
            translateY: $pos
        )
    );
    @include animate-to($single-obj-model, $do-reg-tween);   
};

/**
    zoom-in and out animation
**/
@mixin zoom($selector:null, $perc:0, $do-reg-tween:false) {
    $single-obj-model: (
        selector: $selector,
        transform: (
            scale: ($perc, $perc)
        )
    );
    @include animate-to($single-obj-model, $do-reg-tween);   
};

/**
    set click animation for the list of selector(s)
**/
@mixin set-click-animation-by-list($cls-list) {

    %click-transition {
        @include register-transition(transform, 200ms, 'easeInOutSine');
    };

    %click-transform {
        @include transform(scale(0.8));
    };

    @if $cls-list != null and length($cls-list) > 0 {

        @each $key, $val in $cls-list {
            #{$key} {
                @extend %click-transition;
            }
            #{$key}:active {
                @extend %click-transform;
            }
        }

    }

};