
/* get component value by inifity property type */
@function get-component-value($cf, $args...) {

    $config : $cf;
    $value  : null;

    @if $args != null and length($args) > 0 {

        @each $key in $args {
            @if $config != null and length($config) > 0 {
                @if type-of($config) == map {
                    $config: map-get($config, $key);
                    $value : $config;
                }
            }
        }

    }

    @return if(type-of($value) == map or type-of($value) == list, $value, $value);

};

/*get font name from web font*/
@function get-web-font($level...) {
    @return get-component-value($web-fonts, $level...);
};

/*get font size from web font size*/
@function get-web-font-size($level...) {
    @return get-component-value($web-font-sizes, $level...);
};

/*get color from web font size*/
@function get-web-color($level...) {
    @return get-component-value($web-colors, $level...);
};

/*get border sizes from web border size*/
@function get-web-border($level...) {    
    @return get-component-value($web-borders, $level...);
};

/*get web media queries*/
@function get-web-media-query($dt, $dm, $dn) {
    @if $dt == desktop or $dt == laptop {
        @return map-get(map-get($media-query, $dt), $dm);
    }
    @return map-get(map-get(map-get($media-query, $dt), $dm), $dn);

};

/*creating media query css value*/
@function get-media-query-string($mw, $mx, $pr, $or, $is-device-specific:false, $is-min-max-type:false, $skip-screen:false) {

    $scr: "screen ";
    $fs: "";
    $ss: "";
    $fs-str: "min-width";
    $ss-str: "max-width";
    $px-ratio-str: "-webkit-min-device-pixel-ratio";
    
    $mw: get-number-value($mw);
    $mx: get-number-value($mx);

    @if not $is-device-specific and $is-min-max-type {
        $fs-str: "min-device-width";
        $ss-str: "max-device-width";
    }
    @else if $is-device-specific {

        @if $is-min-max-type {
            $scr: "only screen "; 
            $fs-str: "min-device-width";
            $ss-str: "max-device-width";            
        }
        @else {
            $fs-str: "device-width";
            $ss-str: "device-height";
            $px-ratio-str: "-webkit-device-pixel-ratio";
        }

    }

    @if $skip-screen {
        $scr: "";

        @if $mw != null and $mx != null {
            $fs : "(#{$fs-str}: #{$mw})";
            $ss : "and (#{$ss-str}: #{$mx})";
        }
        @else if $mw != null and $mx == null {
            $fs: "(#{$fs-str}: #{$mw})";
            $ss: "";
        }
        @else if $mx != null and $mw == null {
            $fs: "";
            $ss: "(#{$ss-str}: #{$mx})";
        }
        
    }
    @else {
        $fs : if($mw != null, "and (#{$fs-str}: #{$mw})", "");
        $ss : if($mx != null, "and (#{$ss-str}: #{$mx})", "");
    }

    $orientation: if($or != null, "and (orientation: #{$or})", "");
    $pixel-ratio: if($pr != null, "and (#{$px-ratio-str}: #{$pr})", "");

    @return $scr+$fs+$ss+$orientation+$pixel-ratio;
};

/*GET VALUE BASED ON THE RATIO*/
@function format-value-by-ratio($values, $is1x:false, $separator:space) {
     $rescf: ();     
     @if $values != null and length($values) > 0 {
         @each $val in $values {
             @if $val != null and type-of($value: $val) == number {
                $rescf: append($rescf, if($is1x, $val, $val/2), $separator);
            }
         }
     }    
     @return $rescf;
};


/*
    creating custom media query css
*/
@mixin custom-media-query-css($w:null, $h:null, $pr:null, $or:null, $is-device-specific:false, $is-min-max-type:false, $skip-screen:false) {

    @if $w != null or $h != null {        
        $mq-str: get-media-query-string($w, $h, $pr, $or, $is-device-specific, $is-min-max-type, $skip-screen);
        @media #{$mq-str} {
            @content;
        } 
    }

};


/*setting dynamic media query by value*/
@mixin set-media-query-css($type, $device-model:null, $device-name:null, $orientation:null) {

    @if $type != null and $device-model != null or $device-name != null {

        $device-media-query: get-web-media-query($type, $device-model, $device-name);

        $width              : map-get($device-media-query, 'width');
        $height             : map-get($device-media-query, 'height');
        $px-ratio           : map-get($device-media-query, 'px-ratio');
        $is-device-specific : map-get($device-media-query, 'is-device-specific');
        $is-min-max-type    : map-get($device-media-query, 'is-min-max-type');
        $skip-screen        : map-get($device-media-query, 'skip-screen');

        $mq-str: get-media-query-string($width, $height, $px-ratio, $orientation, $is-device-specific, $is-min-max-type, $skip-screen);

        @media #{$mq-str} {
            @content;
        }

    }

};


/*set width and height*/
@mixin set-dimension($dimension, $is1x:false, $has-text:false) {

    @if $dimension != null and length($dimension) != 0 {

        $place-names: ('width', 'height');

        $w-val: nth($dimension, 1);
        $h-val: nth($dimension, 2);

        @if type-of($w-val) == number and $w-val >= 0 {
            width : if($is1x, $w-val, $w-val/2);
        }
        @else {
            width : $w-val;
        }
        
        @if type-of($h-val) == number and $h-val >= 0 {
           height: if($is1x, $h-val, $h-val/2);
        }
        @else {
            height : $h-val;
        }

        @if $has-text {
            @if $prop != null and $prop == 'height' {
                line-height: $c-val;
            }
            @else {
                text-align:center;    
            }
        }

    }
};


/**
maping the properties and rendering the css
Note: this is a component specific method
**/
@mixin map-config-render-css($map-prop-list, $user-config) {

    @if $map-prop-list != null and $user-config != null {

        @each $key, $val in $user-config {

            $skip-list: (
                "selector", 
                "button-list",
                "image-list",
                "typo-list"
            );

            @if index($skip-list, $key) == null {

                @if $key == 'dimension' {                     
                    @include set-dimension($val, true);
                }
                @else if $key == 'margin' or $key == 'padding' {
                    @include bounds($key, $val);
                }
                @else {

                    $css-prop: map-get($map-prop-list, $key);

                    @if $css-prop != null {
                        #{$css-prop}:#{map-get($user-config, $key)};
                    }

                }

            }

        }
    }        
};


/*FOR RENDERING BACKGROUND FOR SINGLE IMAGE*/
@mixin render-bg-image($config, $extend-cls:null, $parent-config:null) {
    
    $def-list          : null;
    $selector-list     : ();
    $is-def-1x-enabled : false;
    $is-list-1x        : false;
    $is-from-sprite    : false;

    @if $parent-config != null {
        $is-from-sprite: true;
        $is-list-1x    : map-get($parent-config, 'is1x');
    }

    @if $config != null {

        @each $key, $cf in $config {      

            $selector        : map-get($cf, 'selector');
            $bgurl           : map-get($cf, 'bgurl');
            $dimension       : map-get($cf, 'dimension');
            $size            : map-get($cf, 'size');
            $position        : map-get($cf, 'position');
            $is1x            : if($is-list-1x or $is-def-1x-enabled, true, map-get($cf, 'is1x'));
            $self-extend-cls : map-get($cf, 'extend-cls');

            $map-properties: (
                'bgurl'         : 'background-image',
                'bgcolor'       : 'background-color',
                'margin'        : 'margin',
                'margin-top'    : 'margin-top',
                'margin-right'  : 'margin-right',
                'margin-bottom' : 'margin-bottom',
                'margin-left'   : 'margin-left',
                'padding'       : 'padding',
                'padding-top'   : 'padding-top',
                'padding-right' : 'padding-right',
                'padding-bottom': 'padding-bottom',
                'padding-left'  : 'padding-left',
                'cursor'        : 'cursor',
                'box-sizing'    : 'box-sizing'
            );        

            @if $selector != null and index($selector-list, $selector) == null {

                #{$selector} {

                    /*
                        global extends
                    */
                    @if $extend-cls != null 
                        and $extend-cls != "" {
                        @extend #{$extend-cls};
                    }

                    /*
                        self extends
                    */
                    @if $self-extend-cls != null 
                        and $self-extend-cls != "" {
                        @extend #{$self-extend-cls};
                    }

                    /**
                        skip if available same value in parent config
                    **/
                    @if $parent-config != null {
                        $cf: skip-duplicates($parent-config, $cf);                    
                    }
                    
                    @if map-has-key($cf, 'dimension') {
                        $cf: map-merge($cf, ('dimension' : format-value-by-ratio($dimension, $is1x, comma) ));                                           
                    }
                   
                    @if map-has-key($cf, 'bgurl') {
                        $cf: map-merge($cf, ('bgurl' : url(get-image-local-path($bgurl)) ));
                    }

                    /**
                        skip if available same value in default config
                        in the same list
                    **/
                    @if $def-list != null {
                        $cf: skip-duplicates($def-list, $cf);
                    }

                    /**
                        additional properties rendering
                    **/
                    @if $position != null {
                        $pos: format-value-by-ratio($position, $is1x);
                        @if $pos and length($pos) != 0 {
                            background-position: $pos;
                        }
                    }
                    
                    @if $parent-config == null {        

                        @if $key == default {
                            background-repeat: no-repeat;
                            background-position: 50%;
                            background-size: 100%;
                        }   
                        @else {
                            background-size: map-get($cf, 'dimension');
                            $cf: map-remove($cf, 'dimension');    
                        }                        
                    }
                    @else {
                         @if $is1x {
                            background-size: auto;
                        }
                    }

                    @include map-config-render-css($map-properties, $cf);

                }
            }

            @if $key == default {
                $def-list: $cf;            
                $is-def-1x-enabled: map-get($def-list, 'is1x');
            }

            $selector-list: join($selector-list, $selector);
        }

    }

};


/*FOR RENDERING BACKGROUND FOR SPRITE/COLLECTION IMAGES */
@mixin render-sprite-images($config, $is-for-responsive:false) {

    @if $config != null {

        $selector  : map-get($config, 'selector');
        $list      : map-get($config, 'image-list');
        $is1x      : map-get($config, 'is1x');

        @if $is-for-responsive {
            @if $list != null {
                @each $key, $cf in $list {             
                    @include render-bg-image($cf);
                }
            }
        }
        @else if $selector != null {

            /*
                global selector rendering
            */
            $global-cf: (                
                global: $config
            );
            @include render-bg-image($global-cf);

            /*
                list items rendering
            */
            @if $list != null {
                @each $key, $cf in $list {             
                    @include render-bg-image($cf, $selector, $config);
                }
            }
            
        }
    }
    
};


/*render a single typography by config*/
@mixin render-typo($config, $extend-cls:null, $parent-config:null) {

    $def-list          : null;
    $selector-list     : ();
    $is-def-1x-enabled : false;
    $is-list-1x        : false;

    @if $parent-config != null {
        $is-list-1x : map-get($parent-config, 'is1x');
    }

    @if $config != null {

        @each $key, $cf in $config {      

            $selector        : map-get($cf, 'selector');        
            $font            : map-get($cf, 'font');
            $size            : map-get($cf, 'size');
            $alternate       : map-get($cf, 'alternate');
            $is1x            : if($is-list-1x or $is-def-1x-enabled, true, map-get($cf, 'is1x'));
            $self-extend-cls : map-get($cf, 'extend-cls');

            $map-properties: (
                'color'         : 'color',                
                'weight'        : 'font-weight',
                'style'         : 'font-style',
                'align'         : 'text-align',
                'decoration'    : 'text-decoration',
                'transform'     : 'text-transform',
                'l-height'      : 'line-height',
                'shadow'        : 'text-shadow',
                'spacing'       : 'text-spacing',
                'indent'        : 'text-indent',
                'margin'        : 'margin',
                'margin-top'    : 'margin-top',
                'margin-right'  : 'margin-right',
                'margin-bottom' : 'margin-bottom',
                'margin-left'   : 'margin-left',
                'padding'       : 'padding',
                'padding-top'   : 'padding-top',
                'padding-right' : 'padding-right',
                'padding-bottom': 'padding-bottom',
                'padding-left'  : 'padding-left',
                'cursor'        : 'cursor'
            );        

            @if $selector != null and index($selector-list, $selector) == null {

                #{$selector} {

                    /*
                        global extends
                    */
                    @if $extend-cls != null 
                        and $extend-cls != "" {
                        @extend #{$extend-cls};
                    }

                    /*
                        self extends
                    */
                    @if $self-extend-cls != null 
                        and $self-extend-cls != "" {
                        @extend #{$self-extend-cls};
                    }

                    /**
                        skip if available same value in parent config
                    **/
                    @if $parent-config != null {
                        $cf: skip-duplicates($parent-config, $cf);                    
                    }

                    /**
                        skip if available same value in default config
                        in the same list
                    **/
                    @if $def-list != null {
                        $cf: skip-duplicates($def-list, $cf);
                    }

                    /**
                        additional properties rendering
                    **/
                    $actual-font: map-get($cf, 'font');
                    $alt-font   : map-get($cf, 'alternate');

                    @if $actual-font == null and $alt-font != null {
                        $actual-font: $alt-font;
                    }
                    @else {
                         $actual-font: if($alt-font != null, $actual-font unquote(','+$alt-font), $actual-font);
                    }
                    $f-size: map-get($cf, 'size');

                    font-family: $actual-font;
                    font-size: if($f-size, if($is1x, $f-size, $f-size/2), null);

                    @include map-config-render-css($map-properties, $cf);

                }
            }

            @if $key == default {
                $def-list: $cf;            
                $is-def-1x-enabled: map-get($def-list, 'is1x');
            }

            $selector-list: join($selector-list, $selector);
        }

    }

};


/*render typography by collections */
@mixin render-typo-list($config, $is-for-responsive:false) {

    @if $config != null {

        $selector  : map-get($config, 'selector');
        $list      : map-get($config, 'typo-list');
        $is1x      : map-get($config, 'is1x');

        @if $is-for-responsive {
            @if $list != null {
                @each $key, $cf in $list {             
                    @include render-typo($cf, null, $is1x);
                }
            }
        }
        @else if $selector != null {

            /*
                global selector rendering
            */
            $global-cf: (
                default: $config
            );
            @include render-typo($global-cf);

            /*
                list items rendering
            */
            @if $list != null {
                @each $key, $cf in $list {             
                    @include render-typo($cf, $selector, $config);
                }
            }
            
        }
    }

};

@function add-comp-additional-props($additional-cf, $current-cf, $parent-config) {

    @each $key, $val in $additional-cf {

        @if not map-has-key($current-cf, $key) 
            and $parent-config != null and not map-has-key($parent-config, $key) {
            $current-cf : map-merge($current-cf, ( $key : $val ));
        }
                
    }  

    @return $current-cf;

};

/**
    additional properties support added for button config
    NOTE: This is a local function. automatically adds the property, if user adds it will be skipped.
**/
@function add-button-additional-props($cf, $parent-config:null, $is1x:false) {

    $add-props: (
        cursor    : pointer,
        text-align: center
    );

    $cf: add-comp-additional-props($add-props, $cf, $parent-config);

    @if not map-has-key($cf, 'l-height') {        
        $wxh : map-get($cf, 'dimension');

        @if length($wxh) == 2 {
            $lh: nth($wxh, 2);           
            $cf : map-merge($cf, ('l-height' :  if($is1x, $lh, $lh/2)));
        }
    } 

    @return $cf;

};

/*render a single button by config */
@mixin render-button($config, $extend-cls:null, $parent-config:null) {

    $def-list          : null;
    $selector-list     : ();
    $is-def-1x-enabled : false;
    $is-list-1x        : false;

    @if $parent-config != null {
        $is-list-1x : map-get($parent-config, 'is1x');
    }

    @if $config != null {

        @each $key, $cf in $config {      

            $selector        : map-get($cf, 'selector');        
            $dimension       : map-get($cf, 'dimension');
            $is1x            : if($is-list-1x or $is-def-1x-enabled, true, map-get($cf, 'is1x'));
            $self-extend-cls : map-get($cf, 'extend-cls');

            $map-properties: (
                'bgcolor'       : 'background-color',
                'margin'        : 'margin',
                'margin-top'    : 'margin-top',
                'margin-right'  : 'margin-right',
                'margin-bottom' : 'margin-bottom',
                'margin-left'   : 'margin-left',
                'padding'       : 'padding',
                'padding-top'   : 'padding-top',
                'padding-right' : 'padding-right',
                'padding-bottom': 'padding-bottom',
                'padding-left'  : 'padding-left',
                'border-radius' : 'border-radius',
                'cursor'        : 'cursor',
                'text-align'    : 'text-align',
                'l-height'      : 'line-height',
                'box-sizing'    : 'box-sizing' 
            );        

            @if $selector != null and index($selector-list, $selector) == null {

                #{$selector} {

                    /*
                        global extends
                    */
                    @if $extend-cls != null 
                        and $extend-cls != "" {
                        @extend #{$extend-cls};
                    }

                    /*
                        self extends
                    */
                    @if $self-extend-cls != null 
                        and $self-extend-cls != "" {
                        @extend #{$self-extend-cls};
                    }

                    $cf: add-button-additional-props($cf, $parent-config, $is1x);

                   
                    /**
                        skip if available same value in parent config
                    **/
                    @if $parent-config != null {
                        $cf: skip-duplicates($parent-config, $cf);                    
                    }                                           

                    @if map-has-key($cf, 'dimension') {
                        $d-val: map-get($cf, 'dimension');
                        $cf   : map-merge($cf, ('dimension' : format-value-by-ratio($d-val, $is1x, comma) ));
                    }                    

                    /**
                        skip if available same value in default config
                        in the same list
                    **/
                    @if $def-list != null {
                        $cf: skip-duplicates($def-list, $cf);
                    }

                    @include map-config-render-css($map-properties, $cf);

                }
            }

            @if $key == default {
                $def-list: $cf;            
                $is-def-1x-enabled: map-get($def-list, 'is1x');
            }

            $selector-list: join($selector-list, $selector);
        }

    }

};


/*render buttons by collections */
@mixin render-buttons-list($config, $is-for-responsive:false) {

    @if $config != null {

        $selector  : map-get($config, 'selector');
        $list      : map-get($config, 'button-list');
        $is1x      : map-get($config, 'is1x');

        @if $is-for-responsive {
            @if $list != null {
                @each $key, $cf in $list {             
                    @include render-button($cf);
                }
            }
        }
        @else if $selector != null {

            /*
                global selector rendering
            */
            $config: add-button-additional-props($config, $config, $is1x);

            $global-cf: (
                default: $config
            );
            @include render-button($global-cf);

            /*
                list items rendering
            */
            @if $list != null {
                @each $key, $cf in $list {             
                    @include render-button($cf, $selector, $config);
                }
            }
        }
    }

};

/**
    rendering modal/toasts layout
**/
@mixin render-modal-layout($mo, $req-ie-rupport:false) {

    @if $mo != null {

        $ol-selector: get-component-value($mo, 'selector');
        $setup      : get-component-value($mo, 'setup');
        $parent-cf  : null;

        $map-properties: (
            'bgcolor'       : 'background-color',
            'display'       : 'display',
            'z-index'       : 'z-index',
            'margin'        : 'margin',
            'margin-top'    : 'margin-top',
            'margin-right'  : 'margin-right',
            'margin-bottom' : 'margin-bottom',
            'margin-left'   : 'margin-left',
            'padding'       : 'padding',
            'padding-top'   : 'padding-top',
            'padding-right' : 'padding-right',
            'padding-bottom': 'padding-bottom',
            'padding-left'  : 'padding-left',
            'border-radius' : 'border-radius'
        );

        @if $setup != null {

            @each $device, $obj in $setup {
                
                @if $device == desktop
                    or $device == default {

                    $z-idx: 9;
                    @if map-has-key($obj, 'z-index') {
                        $z-idx: map-get($obj, 'z-index');
                        /*removing from the object to avoid duplicates*/
                        $obj  : map-remove($obj, 'z-index');
                    }

                    #{$ol-selector} {
                        @include center-align-by-position(f, $z-idx, $req-ie-rupport);
                        @include map-config-render-css($map-properties, $obj);
                        box-sizing: border-box;
                    }

                    $parent-cf: $obj;
                   
               }
               @else {

                   $media-dimension: get-component-value($obj, 'media-query');
                   
                   @if $parent-cf != null {
                       $obj: skip-duplicates($parent-cf, $obj);
                   }

                   @if $media-dimension != null {

                       $min-width: null;
                       $max-width: null;

                       @if length($media-dimension) == 1 {
                            $min-width: nth($media-dimension, 1);
                       }
                       @else if length($media-dimension) == 2 {
                            $min-width: nth($media-dimension, 1);
                            $max-width: nth($media-dimension, 2);
                       }
                       
                       @include custom-media-query-css($min-width, $max-width) {
                            #{$ol-selector} {
                                top: auto;
                                @include map-config-render-css($map-properties, $obj);
                            }
                       }
                   }

               }

            }

            @content;

        }

        $close-icon-cf: get-component-value($mo, 'close-icon');
        $close-icon-selector: get-component-value($mo, 'close-icon', 'default', 'selector');
        $close-pos: get-component-value($close-icon-cf, 'trbl');

        $t: 0; $r: 0; $b: -1; $l: -1;
        
        @if $close-pos != null {

            $close-icon-cf: map-remove($close-icon-cf, 'trbl');

            @if length($close-pos) == 1 {
                $t: nth($close-pos, 1);
            }
            @else if length($close-pos) == 2 {
                $t: nth($close-pos, 1);
                $r: nth($close-pos, 2);
            }
            @else if length($close-pos) == 3 {
                $t: nth($close-pos, 1);
                $r: nth($close-pos, 2);
                $b: nth($close-pos, 3);
            }
            @else {
                $t: nth($close-pos, 1);
                $r: nth($close-pos, 2);
                $b: nth($close-pos, 3);
                $l: nth($close-pos, 4);
            }
        }

        #{$close-icon-selector} {            
            @include fixed-floating(TR, 9, abs, $t, $r, $b, $l);
        }

        @if $close-icon-cf != null {            
            @include render-bg-image($close-icon-cf);
        }

    }

};

