@import "setup/compass-lib-setup";

$browser-prefix-config: (
    'chrome'    : '-webkit-',
    'safari'    : '-webkit-',
    'mozilla'   : '-moz-',
    'firefox'   : '-moz-',
    'ie'        : '-ms-',
    'konqueror' : '-khtml-',
    'opera'     : '-o-'
);

$custom-fonts-format-map: (
    'eot'  : 'embedded-opentype', /* IE6-IE8 & IE9 Compat Modes */
    'woff' : 'woff',              /* Pretty Modern Browsers */
    'woff2': 'woff2',             /* Super Modern Browsers */
    'ttf'  : 'truetype',          /* Safari, Android, iOS */
    'svg'  : 'svg'                /* Legacy iOS */
);

/**
    get the number and returns as unit value
    ex: 10px -> 10 | 10 -> 10
**/
@function get-unit-value($number) {

    $has-imp  : false;
    $number-type: type-of($number);

    @if $number-type == list {
        $len : length($number);
        $has-imp: (nth($number, 2) == !important);
        $number: nth($number, 1);

        @if not unitless($number) {
            $number:  $number / ($number * 0 + 1);
        }
    }
    @else if type-of($number) == 'number' and not unitless($number) {
        @return $number / ($number * 0 + 1);
    }

    @return if($has-imp, unquote("#{$number}") !important, unquote("#{$number}"));
    
};

/**
    get the unit and returns as number
    ex: 10 -> 10px | 10px -> 10px
**/
@function get-number-value($unit) {

    $has-imp  : false;
    $unit-type: type-of($unit);

    @if $unit-type == list {
        $len : length($unit);
        $has-imp: (nth($unit, 2) == !important);
        $unit: nth($unit, 1);

        @if unitless($unit) {
            $unit: $unit * 1px;
        }
    }
    @else if $unit-type == 'number' and unitless($unit) {
        @return $unit * 1px;
    }

    @return if($has-imp, $unit !important, $unit);

};

/**
    Local function
    get-map-number
**/
@function get-map-number($num) {

    $arg-type: type-of($num);

    @if $arg-type == 'number' {
        $num-map: (
            0   : 0,
            0px : 0,
            -1  : -1,
            -1px: -1
        );

        @return if(map-has-key($num-map, $num), map-get($num-map, $num), get-number-value($num));
    }

    @return $num;

};

/**
    Local function
    TRBL - top, right, bottom and left
**/
@function format-trbl($val-list) {

    @if $val-list == null and length($val-list) == 0 {
        @return null;
    }

    $format-val: ();

    @for $i from 1 through length($val-list) {
        $num: nth($val-list, $i);
        $format-val: append($format-val, get-map-number($num));
    }

    @return $format-val;

};

/**
    loading images from the local directory.
    just pass the image url and the relative url.
**/
@function get-image-local-path($imgurl) {

    @if $imgurl != null {
        @if str-index($imgurl, '.') == 1 {
            @return $imgurl;
        }
        @if str-index($imgurl, $img-dir-path) == null
            and str-index($imgurl, 'htt') == null 
            and str-index($imgurl, '//') == null {
            @return $img-dir-path+$imgurl;
        }
    }
    @return $imgurl;
};


/***
    find the duplicate values
***/
@function is-duplicate($default-list, $key, $val) {

    @if $default-list != null and length($default-list) > 0 {

        $d-has-key: map-has-key($default-list, $key);
        $d-val: map-get($default-list, $key);

        @return ($d-has-key and ($d-val == $val));

    }
    
    @return false;

};

/**
    replace string
**/
@function str-replace($string, $search, $replace: '') {

    $index: str-index($string, $search);
    @if $index {
        @return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
    }
    
    @return $string;
}

/**
    remove duplicates
**/
@function skip-duplicates($fo, $so) {

    @if $fo != null and $so != null {

        $obj-type: type-of($fo);
        $filter-obj: ();

        @if $obj-type != type-of($so) {            
            @return null;
        }

        @if $obj-type == list {

            $fo-val: $fo;
            $so-val: $so;
            $sep   : list-separator($so);

            @if $sep == space {
                $filter-obj: join($filter-obj, if($fo-val != $so-val, $so-val, $fo-val), space);
            }
            @else if $sep == comma {

                @for $i from 1 through length($so) {
                    $fo-val: nth($fo, $i);
                    $so-val: nth($so, $i);

                    @if type-of($fo-val) == 'number' {
                        $fo-val: get-map-number($fo-val);  
                    }

                    @if type-of($so-val) == 'number' {
                        $so-val: get-map-number($so-val);
                    }

                    $filter-obj: append($filter-obj, if($fo-val != $so-val, if($so-val == null, $fo-val, $so-val), get-map-number($fo-val)), comma);                    
                }

            }

            @return if(length($filter-obj) == 0, null, $filter-obj);
            
        }
        @else if $obj-type == map {

            @each $so-key, $so-val in $so {

                $has-key: map-has-key($fo, $so-key);
                $fo-val : map-get($fo, $so-key);
                $value  : $so-val;
                
                @if $has-key and ($fo-val != $so-val) {

                    @if type-of($value) == list
                        or type-of($value) == map {
                        $value: skip-duplicates($fo-val, $value);                    
                    }

                    $filter-obj: map-merge($filter-obj, ( $so-key : $value ));

                } 
                @else {

                    @if not $has-key {
                         $filter-obj: map-merge($filter-obj, ( $so-key : $value ));
                    }

                }           
          }   
                
          @return $filter-obj;

        }

    }

    @return null;

};


/**
    special function for rendering list arguments with their values
    ex: list: (10px, 10px) - val: ('top', 'left') result: top: 10px; left: 10px;
    only for: margin, padding and position
**/
@mixin set-dynamic-args($main-prop, $value-prop, $value-list) {
    
    @if $value-prop != null and length($value-prop) > 0 
        and $value-list != null and length($value-list) > 0 {
        
        //filtering numbers alone
        $format-args-list: ();
        @each $pr in $value-list {
            @if type-of($pr) == list and length($pr) > 0 
                or type-of($pr) == number {
                $format-args-list: join($format-args-list, $pr, comma);
            }
            @else {
                $format-args-list: join($format-args-list, -1, comma);
            }
        }
    
        $vp-len: length($value-prop);
        $vl-len: length($format-args-list);    

        $idx: 1;
        @for $j from 1 through $vl-len {
            $vv: nth($format-args-list, $j);

            @if $idx <= $vp-len {            
                @if type-of($vv) == number {                
                    $vp: nth($value-prop, $idx);
                    $css-prop    : if($main-prop != null, #{$main-prop}-#{$vp}, #{$vp});
                
                    @if $vv != null and $vv != -1 {
                        #{$css-prop} :  get-number-value($vv);
                    }

                    $idx: $idx + 1;
                }    
            }       
            
        }
    }
    
};

/**
creating shapes 
square, rectangle ellipse and circle
**/
@mixin create-shape($width, $height, $bgcolor:null, $radius:null, $skip-box-cover:true) {
    width : $width;
    height: $height;    
    background-color: $bgcolor;
    @include border-radius(def, $radius);
    @if($skip-box-cover) {
        @include cover-box();
    }
};

@mixin square($wh, $bgcolor:null, $radius:null) {
    @include create-shape($wh, $wh, $bgcolor, $radius);
};

@mixin rectangle($width, $height, $bgcolor:null, $radius:null) {
    @include create-shape($width, $height, $bgcolor, $radius);
};

@mixin circle($wh, $bgcolor:null) {
    @include create-shape($wh, $wh, $bgcolor, 50%);    
};

@mixin ellipse($width, $height, $bgcolor:null) {
    @include create-shape($width, $height, $bgcolor, 50%);
};

@mixin wxh($w:null, $h:null, $skip-box-cover:true) {
    @include create-shape($w, $h, null, null, $skip-box-cover);    
};

@mixin convert-to-button($width, $height, $bgcolor:null, $has-text:true) {
    @include create-shape($width, $height, $bgcolor);
    cursor: pointer;

    @if $has-text {
        line-height: $height;
        text-align: center;
    }

};

/**
    min, max width and height settings
**/
@mixin min-size($width, $height:null) {
    min-width : $width;
    min-height: $height;
};

@mixin max-size($width, $height:null) {
    max-width : $width;
    max-height: $height;
};


/**
    align: float, text-align, and vertical-align
    fl - float: left; fr - float:right; tal - text-align: left; tar - text-align:right;
    val - vertical-align: left; var: vertical-align:right; vam - vertical-align:middle
    vat - vertical-align: top; vab - vertical-align: bottom;
**/
@mixin align($type...) {

    $align-prop  : ('f': 'float', 'ta': 'text-align', 'va': 'vertical-align');
    $align-values: ('l': 'left', 'r': 'right', 'c': 'center', 't': 'top', 'm': 'middle', 'b': 'bottom');

    @if $type != null and length($type) > 0 {

        @each $cr-prop in $type {

            $add-imp: false;
            @if type-of($cr-prop) == list {
                $has-imp: nth($cr-prop, 2);                
                @if $has-imp == "!important" {
                    $add-imp: true;
                    $cr-prop: nth($cr-prop, 1);
                }
            }
            
            $type   : to-lower-case($string: $cr-prop);
            $str-len: str-length($cr-prop);

            $fc: str-slice($type, 1, $str-len - 1);
            $lc: str-slice($type, $str-len, $str-len);

            $css-prop: map-get($align-prop, $fc);
            $css-val : map-get($align-values, $lc);
            
            #{$css-prop}:#{$css-val}if($add-imp, unquote($string: " !important"), null);

        }
       
    }

};

/**
    clear both
**/
@mixin break-floating($pos:both, $is-imp:false) {

    $cb-map: (
        'b': both,
        'n': none, 
        'l': left, 
        'r': right 
    );

    @if $pos != null {

        $fc : str-slice($pos, 0, 1);
        $val-from-map: map-get($cb-map, $fc);

        $val: if($val-from-map != null, $val-from-map, both);
        clear: $val if($is-imp, !important, null);

    }
    
};

/**
    display method in short form
    b: block, n:none, ib: inline-block,
    fx: flex, ifx: inline-flex,
    bx: -webkit-box, -ms-flexbox,
    t - table,
    tc - table-cell
**/
@mixin display($type:'b', $is-important:false) {

    $dis-map: (
        'b'   : block, 
        'n'   : none,
        'g'   : grid,
        'i'   : inline,
        'ib'  : inline-block, 
        'fx'  : flex, 
        'ifx' : inline-flex,
        'bx'  : box, 
        't'   : table, 
        'tc'  : table-cell,
        'tr'  : table-row,
        'tcol': table-column
    );

    @if $type != null {
        $type: to-lower-case($type);
        @if $type == 'bx' {
            @include browser-prefix('display', box, ('chrome'), true, true);
            @include browser-prefix('display', flexbox, ('ie'), true, true);
        }
        @else {
            display: unquote(map-get($dis-map, $type)) if($is-important, !important, null);
        }

    }
};

/**
    position
**/
@mixin position($type:relative, $z-index:null, 
                $top:null, $right:null, $bottom:null, $left:null) {

    $prop-names: (
        'r'  : 'relative',
        'rel': 'relative',
        'a'  : 'absolute',
        'abs': 'absolute',
        'f'  : 'fixed',
        'fix': 'fixed',
        's'  : 'static',
        'sta': 'static'
    );

    @if $type != null {

        $pos-type: type-of($type);
        $has-imp : false;

        @if $pos-type == list {
            $len : length($type);
            $has-imp: (nth($type, 2) == !important);
            $type: nth($type, 1);
        }

        $type: to-lower-case($type);

        @if $type == def {
            $type: relative;
        }
        @else if map-has-key($prop-names, $type) {
            $type: map-get($prop-names, $type);
        }
        
        position: if($has-imp, #{$type} !important, #{$type});
        z-index : #{get-unit-value($z-index)};

        $places: (
            'top'   : $top,
            'right' : $right,
            'bottom': $bottom,
            'left'  : $left
        );        

        @each $key, $val in $places {

            @if type-of($val) == list {
                #{$key}: format-trbl($val);
            }
            @else {

                @if get-map-number($val) != -1 {
                    #{$key}: get-map-number($val);
                }

            }

        }

    }

};

/**
    z-index
**/
@mixin z-index($val:1) {    
    z-index: get-unit-value($val);
};

/**
    opacity
**/
@mixin opacity($val) {

    @if $val != null {
        //support added base 10 number as well
        @if $val > 1 and $val <= 100 {
            $val: $val/10/10;
        }
        @else if $val > 100 {
            $val: $val/100/10;
        }

        filter:alpha(opacity=$val*100);
        @include browser-prefix('opacity', $val, ('mozilla', 'konqueror'));
    }
};

/**
    padding and margin
**/
@mixin bounds($type:margin, $places...) {

    $place-names: (
        't': 'top', 
        'r': 'right',
        'b': 'bottom',
        'l': 'left'
    );
    $prop-names: (
        'm'  : 'margin',
        'mar': 'margin',
        'p'  : 'padding',
        'pad': 'padding'
    );

    $is-single-val: false;

    @if $type != null {

        $type: to-lower-case($type);

        @if $type == def or $type == margin {
            $type: margin;           
        }
        @else if $type == padding {
            $type: padding;            
        }
        @else if map-has-key($prop-names, $type) {
            $type: map-get($prop-names, $type);
        }
        @else if str-length($type) == 2 {

            $fc : str-slice($type, 0, 1);
            $lc : str-slice($type, 2, 2);

            @if map-has-key($prop-names, $fc) and map-has-key($place-names, $lc) {

                $p   : map-get($prop-names, $fc);
                $pos : map-get($place-names, $lc);                
                $type: str-insert($pos, $p+'-', 1);

                $is-single-val: true;

            }
            
        }
        @else if str-index($type, '-') {
            $is-single-val: true;
        }

        @if $is-single-val {
            //accept only first value even if its list
            $first-val: ""; 

            @each $key, $val in $places {
                @if $key != null and $first-val == "" {
                    $first-val: $key;
                }
            }

            #{$type}: get-number-value($first-val);
        }
        @else {
            $separator: list-separator(nth($places, 1));

            @if length($places) == 1 and $separator == space {
                #{$type}: format-trbl(nth($places, 1));
            }
            @else {                
                //if user entered like: 10px 20px, 30px, 40px
                @include set-dynamic-args($type, map-values($place-names), $places);
            }
            
        }
    }

};

/**
    border
    properties: size, color and type
**/
@mixin border($place:def, $size:1px, $color:#ccc, $type:solid) {

    @if $place != null and $size != null and $type != null {
        $size: get-number-value($size);

        @if $place == def {
            border: $size $type $color; 
        }
        @else {
            border-#{$place}: $size $type $color;
        }
    }

};

/**
    border-radius
    properties: tl, bl, tr and br
**/

@mixin border-radius($place:def, $radius:4px) {

    $br-names: ('TL': 'border-top-left-radius', 
                'BL': 'border-bottom-left-radius',
                'TR': 'border-top-right-radius',
                'BR': 'border-bottom-right-radius' );

    @if $place != null and $radius != null {

        @if $place == def {
            border-radius: format-trbl($radius);
        }
        @else {
            $prop: map-get($br-names, to-upper-case($place));
            $rad: $radius;

            @if type-of($radius) == list and length($radius) > 1 {
                $rad: nth($radius, 1);
            }

            @if $prop != null {
                #{$prop}: get-number-value($rad);
            }
        }
    }
    
};


/***
    extend multiple classes with one parent class
***/
@mixin extend-class-by-list($ext-cls, $selectors...) {

    @if $ext-cls != null and type-of($ext-cls) == 'string'
        and ($selectors != null and length($selectors) > 0) {

        @each $val in $selectors {

            @if type-of($val) == list and length($val) > 0 {
                #{$val} {           
                    @extend #{$ext-cls};
                }
            }
            @else if type-of($val) == string {
                #{$val} {           
                    @extend #{$ext-cls};
                }
            }
        }

    }

};

/*set brower based css properties prefixes*/
@mixin browser-prefix($prop, $val, $prefix-list:null, $hidedef:false, $isforval:false) {
    
    $browser-name-list: ();
    $added-prefix-list: ();    

    @if $browser-list == null or length($browser-list) == 0 {        
        $browser-name-list: ('chrome', 'mozilla', 'ie', 'opera', 'safari');
    }
    @else {
        $browser-name-list: $browser-list;
    }

    @if $prefix-list != null and length($prefix-list) > 0 {

        @if index($prefix-list, 'mozilla') {
            $prefix-list: append($prefix-list, 'firefox');
        }
        $browser-name-list: $prefix-list;        
    }

    @if $prop != null and $val != null {

        @if $browser-name-list != null and length($browser-name-list) > 0 {
           
             @each $bn in $browser-name-list {

                 @if index($browser-list, $bn)
                     and map-has-key($browser-prefix-config, $bn) 
                     or ($browser-list != null and length($browser-list) == 0) {
                    
                    $prefix: map-get($browser-prefix-config, $bn);
                    
                    @if index($added-prefix-list, $prefix) == null {
                        
                        @if $isforval == true {
                            #{$prop}:unquote("#{$prefix}#{$val}");
                        }
                        @else {
                            #{$prefix}#{$prop}:$val;
                        }
                        $added-prefix-list: append($added-prefix-list, $prefix, comma);
                    }
                        
                 }
            } 

        }
       
        @if not $hidedef and not $isforval {
            #{$prop}:$val;
        }
    }

};

/*hiding text selection*/
@mixin show-user-selection() {
    @include browser-prefix('touch-callout', all, ('chrome'), true);
    @include browser-prefix('user-select', all);
};

/*hiding text selection*/
@mixin hide-user-selection() {
    @include browser-prefix('touch-callout', none, ('chrome'), true);
    @include browser-prefix('user-select', none);
};

/*enabling backface visibility*/
@mixin show-backface-visibility() {
    @include browser-prefix('backface-visibility', visible, ('chrome'));
};

/*disabling backface visibility*/
@mixin hide-backface-visibility() {
    @include browser-prefix('backface-visibility', hidden, ('chrome'));
};

/*drop shadow*/
@mixin drop-shadow($x-offset:1px, $y-offset:2px, $blur:2px, $color:#ccc) {
    @include browser-prefix('box-shadow', $x-offset $y-offset $blur $color, ('chrome', 'mozilla'));
};

/*inner shadow*/
@mixin inner-shadow($x-offset:1px, $y-offset:2px, $blur:2px, $color:#ccc) {
    @include browser-prefix('box-shadow', inset $x-offset $y-offset $blur $color, ('chrome', 'mozilla'));
};

/*
    enable scroll
    overflow -> x, y
*/
@mixin enable-scroll($axis:'y') {
    @if $axis != null {
        @if ($axis == 'x' or $axis == 'y') {
            overflow:hidden;
            overflow-#{$axis}: auto;
        }
        @else if $axis == "both" {
            overflow: auto;
        }
        @include browser-prefix('overflow-scrolling', touch, ('chrome'), true);
    } 
};

/*disable scroll*/
@mixin disable-scroll() {
    overflow: hidden;
};

/*center align the dom by position*/ 
@mixin center-align-by-position($type:fixed, $z-index:null, $req-ie-rupport:false) {

    $non-support-type-prop: ('r', 'rel', 'relative');

    @if $type != null and index($non-support-type-prop, $type) == null {

        @if $req-ie-rupport {
            @include position($type, $z-index, 50%, 0, 0, 50%);
            @include transform(translate(-50%, -50%));
        } 
        @else {
            @include position($type, $z-index, 0, 0, 0, 0);
            @include bounds(margin, auto);
        }
    }

};

/*center aligning the content by flex properties*/
@mixin center-align-by-flex($direction:row) {
    @include display('fx');
    flex-direction: $direction;
    justify-content: center;
};

/**
    set image aspect ratio and auto center align
**/
@mixin set-img-aspect-ratio($type:absolute, $z-index:null) {
    @include center-align-by-position($type, $z-index);
    @include max-size(100%, 100%);
};

/**
    back to top - btn setup
**/
@mixin back-to-top($right:30px, $bottom:30px, $z-index:9) {    
    @include position(fixed, $z-index, null, $right, $bottom, null);
};

/**
  calc for any property
**/
@mixin calc($prop, $size) {
    @if $prop != null and $size != null {
        #{$prop}: calc(100% - #{$size});
        @include browser-prefix($prop, calc(100% - #{$size}), ('chrome', 'mozilla'), true, true);
    }
};

/*disable all mouse click events*/
@mixin disable-click() {
    pointer-events: none;
}

/*enable all mouse click events*/
@mixin enable-click() {
    pointer-events: auto;
}

/*setting mouse/cursor pointer*/
@mixin mouse-pointer($val:pointer) {
    @if $val != null {
        cursor: $val;
    }
}

/*
    text transform: uppercase, lowercase, capitalize
    by passing single character like 'u, l, c'
*/
@mixin text-transform($type:'c') {
    $transform-map: ('u':'uppercase', 'l':'lowercase', 'c':'capitalize');
    @if $type != null {
        text-transform: unquote(map-get($transform-map, $type));
    }
};

/*
    setting content with help of pseudo classes
    ::after, ::before
*/
@mixin content($selector, $str, $where:after) {
    @if $selector != null and $str != null {
        #{$selector}::#{$where} {
            content: $str;
            @content;
        }
    }
};


/***
    show dotted("...") in single line
***/
@mixin single-line-ellipsis() {
    white-space: nowrap;
    text-overflow: ellipsis;
    @include disable-scroll();
};

/**
    setting line count/clamp to be displayed in the panel
    which means restrict the number lines in the text and shows "..."
**/
@mixin multi-line-ellipsis($width, $no-line:2) {

    @if $no-line != null {
        width: $width;
        @include display('bx');
        @include browser-prefix('line-clamp', $no-line, ('chrome'));
        @include browser-prefix('box-orient', vertical, ('chrome'));
        @include disable-scroll();
    }
    
};

/**
    will help you to fix the all sides padding into given width and height
    which means, it will not be overflow 
**/
@mixin cover-box($val:border-box) {
    @if $val != null {
        box-sizing: $val;
    }
}

/**
    show tab highlight color
    supports only: tablet and mobile devices
**/
@mixin show-touch-event-highlight($clr:rgba(0, 0, 0, 0.3)) {
    @include browser-prefix('tap-highlight-color', $clr, ('chrome'), true);
};

/**
    hide tab highlight color
    supports only: tablet and mobile devices
**/
@mixin hide-touch-event-highlight() {
    @include browser-prefix('tap-highlight-color', rgba(0, 0, 0, 0), ('chrome'), true);
};

/**
    show hyphens
**/
@mixin show-hyphens($val:auto) {
    @include browser-prefix('hyphens', $val);
}

/**
    hide hyphens
**/
@mixin hide-hyphens() {
    @include browser-prefix('hyphens', none);
}

/**
    rendering css arrow using border concept
**/
@mixin arrow-with-border($type:right, $size:10px, $color:black) {

    @if $type != null {
        width: 0;
        height: 0;
        @if $type == right or $type == left {
            @include border(top, $size, transparent);
            @include border(bottom, $size, transparent);
            @include border(if($type == right, left, right), $size, $color);
        }
        @else if $type == up or $type == down {
            @include border(left, $size, transparent);
            @include border(right, $size, transparent);
            @include border(if($type == up, bottom, top), $size, $color);
        }

    }
 
};

/**
 linear-gradient 
**/
@mixin linear-gradient($top-color, $btm-color) {

    @if $top-color != null and $btm-color != null {
        /*background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#1a82f7), to($top-color));*/
        @include browser-prefix('background', linear-gradient(top, $top-color, $btm-color), null, false, true);
        background: linear-gradient(top, $top-color, $btm-color);
    }
  
};

/**
    updating input box placeholder color
**/
@mixin placeholder-color($selector, $color:grey) {

    $pesudo-prefix: $browser-list; 

    @if $browser-list == null or length($browser-list) == 0 {        
        $pesudo-prefix: ('chrome', 'mozilla', 'ie');
    }

    @if $selector != null and $color != null {
        @each $p in $pesudo-prefix {
            $prefix: map-get($browser-prefix-config, $p);

            @if $p == "mozilla" or $p == "firefox" or $p == "ie" {
                #{$selector}:#{$prefix}input-placeholder {
                    color: $color;
                }    
            }

            @if $p != "ie" and $p != "opera" {
                #{$selector}::#{$prefix}input-placeholder {
                    color: $color;
                }
            }

        }        
    }

};

/**
    floating elements in 9 places
**/
@mixin fixed-floating($pos:'tl', $z-index:9, $pos-prop:fixed, 
                      $top:null, $right:null, $bottom:null, $left:null) {    
    
    $position-map: (
        'tl': (0, -1, -1, 0),
        'tc': (0, 0, -1, 0),
        'tr': (0, 0, -1, -1),
        'lc': (0, -1, 0, 0),
        'c' : (0, 0, 0, 0),
        'rc': (0, 0, 0, -1),
        'bl': (-1, -1, 0, 0),
        'bc': (-1, 0, 0, 0),
        'br': (-1, 0, 0, -1)
    );

    $pos: to-lower-case($string: $pos);
    $cf : map-get($position-map, $pos);

    @if $cf != null and length($cf) > 0 {

        $cf: skip-duplicates($cf, ($top, $right, $bottom, $left));
        
        $t: nth($cf, 1);
        $r: nth($cf, 2);
        $b: nth($cf, 3);
        $l: nth($cf, 4);

        @include position($pos-prop, $z-index, $t, $r, $b, $l);

        @if str-index($pos, 'c') != null {
            margin:auto;
        }
    }    
    
};

/**
    removing tag default css styles
    ex: ul, a and body
**/
@mixin remove-default-style-by-tag($selectors, $tag) {

    @if $tag != null {

        $sel: if($selectors != null and length($selectors) > 0, $selectors, $tag);

        #{$sel} {
            @content;
        }

    }   

};

/**
    removing default ul tag css styles
**/
@mixin remove-ul-default-style($selectors:null) {

    @include remove-default-style-by-tag($selectors, ul) {
        @include bounds('m', 0);
        @include bounds('p', 0);
        list-style-type: none;
    }

};

/**
    setting toggle states like :hover, :active, :focus etc.,
**/
@mixin set-toggle-state($selectors, $state:active) {

    $sel: if($selectors != null and length($selectors) > 0, $selectors, $tag);

    @if $sel != null and $state != null {
        #{$sel} {
            &:#{$state} {                  
                @content;
            }
        }
    }

};

/**
    removing the image background and merge with it 
**/
@mixin merge-image-with-bg() {
    mix-blend-mode: multiply;   
};

/**
    remove a tag default style
**/
@mixin remove-hyperlink-style($selectors:null) {   

    @include remove-default-style-by-tag($selectors, a) {
        text-decoration: none;
        color:inherit;
    }

};

/**
    remove body default style
**/
@mixin remove-body-tag-style() {

    @include remove-default-style-by-tag(null, body) {
        @include bounds('m', 0);
        @include bounds('p', 0);
    }

};

/**
    adding mask css
**/
@mixin set-mask($selectors:null, $z-index:9, $bgcolor:black, $opacity:0.5, $pos:fixed) {

    @if $selectors != null {
        #{$selectors} {
            @include square(100%, $bgcolor);
            @include fixed-floating(tl, $z-index, $pos);
            @include opacity($opacity);     
        }
    }

};

/**
    none properties
**/

@mixin none($selectors:null, $prop-list:float, $has-imp:false) {

    $browser-prefix-prop: (
        appearance         : ( prefix: ('chrome'), hide-def:true),
        backface-visibility: ( prefix: ('chrome'), hide-def:true),
        overflow-scrolling : ( prefix: ('chrome'), hide-def:true),
        box-shadow         : ( prefix: ('chrome', 'mozilla'), hide-def:false),
        touch-callout      : ( prefix: ('chrome'), hide-def:true),
        user-select        : ( prefix: all, hide-def:false)
    );
    
    @if $selectors != null and $prop-list != null {

        #{$selectors} {

            @each $prop in $prop-list {

                @if $prop != null {

                    @if map-has-key($browser-prefix-prop, $prop) {

                        $obj     : map-get($browser-prefix-prop, $prop);
                        $b-prefix: map-get($obj, 'prefix');
                        $hide-def: map-get($obj, 'hide-def');

                        @include browser-prefix($prop, none, if($b-prefix == all, null, $b-prefix), $hide-def);

                    }
                    @else {                
                        #{$prop}:if($has-imp, none !important, none);
                    }

                }
                
           }

        }
    }
    
};

/**
    add custom font / @font-face
**/
@mixin add-custom-font($font-name, $font-urls, $enable-https-support:true) {

    @if $font-name != null and $font-urls != null {

        $font-src: "";
        $eot-compact-mode: "";
        $accepted-fonts-format-map: ();

        /**
            custom fonts support added through compass lib setup file
        **/
        @if $custom-fonts-format-list == null or length($custom-fonts-format-list) == 0 {
            $accepted-fonts-format-map: $custom-fonts-format-map;
        }
        @else {

            @each $ft-str in $custom-fonts-format-list {
                 @if map-has-key($custom-fonts-format-map, $ft-str) {
                    $cf-map-val: map-get($custom-fonts-format-map, $ft-str);
                    $accepted-fonts-format-map: map-merge($accepted-fonts-format-map, ( $ft-str : $cf-map-val ));
                 }
            }  

        }       

        @each $url in $font-urls {
            
           $url-len: str-length($url);
           $sliced-url : str-slice($url, $url-len - 6, $url-len);
           $format: "";

           /**
            skipping non supported format if any
           **/
           @if str-index($sliced-url, ".") != null {
               $format: str-slice($sliced-url, str-index($sliced-url, ".") + 1, str-length($sliced-url));
           }

           @if map-has-key($accepted-fonts-format-map, $format) {

                $fmt: map-get($accepted-fonts-format-map, $format);

                @if $enable-https-support {
                    $url: str-replace($url, 'http://', '//');
                    $url: str-replace($url, 'https://', '//');
                }
                @else {
                    /**
                        if url comes like //domain.com
                    **/
                    @if str-index($url, 'http:') == null 
                        and str-index($url, 'https:')  == null {                        
                        $url: str-replace($url, '//', 'http://');
                    }
                    @else {
                        $url: str-replace($url, 'https://', 'http://');
                    }
                    
                }

                @if $format == "eot" {
                    /* for IE9 compact modes */ 
                    $eot-compact-mode: url($url);

                    /* IE6-IE8 */
                    $url: $url+"?#iefix"; 
                }
                @else if $format == "svg" {
                    /* Legacy iOS */
                    $url: $url+"#"+$font-name;
                }

                @if $font-src != null and $font-src != "" {
                    $font-src: $font-src + ", " + url($url) format($fmt);
                }
                @else {
                    $font-src: url($url) format($fmt);
                }
           }

        }

        @if $font-src != null and $font-src != "" {
            @font-face {            
                font-family : $font-name;
                font-weight : normal;
                font-style  : normal;
                @if $eot-compact-mode != null and str-length($eot-compact-mode) > 0 {                    
                    src: unquote("#{$eot-compact-mode}");
                }
                src: unquote("#{$font-src}");
            } 
        }

    }

};



