.cls_skLeftPanelPlus {
  width: calc(100% - 70px);
  margin-left: 70px;
  position: relative;
  margin-top: 110px;
  padding: 20px;
  box-sizing: border-box;
  transition: all 400ms ease;
}
.cls_skLeftPanelPlus .cls_skTabList {
  width: 280px;
  margin: 0px;
  position: fixed;
  height: auto;
  font-family: "Open Sans", sans-serif;
}
.cls_skLeftPanelPlus .cls_skTabList li {
  list-style: none;
}
.cls_skLeftPanelPlus .cls_skTabList .cls_skOverview {
  font-size: 26px;
  color: #2E2F33;
  text-align: left;
}
.cls_skLeftPanelPlus .cls_skTabList .cls_skTabListMainTitle {
  font-size: 15px;
  font-weight: normal;
  color: #2E2F33;
  text-align: left;
  padding: 18px 0px 16px 0px;
}
.cls_skLeftPanelPlus .cls_skTabList .cls_skContentList {
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #e4e4e4;
  background-color: white;
  color: #686868;
  cursor: pointer;
}
.cls_skLeftPanelPlus .cls_skTabList .cls_skContentList .cls_skAccordContent .cls_skAccordTitle {
  width: 100%;
  line-height: 44px;
  border-bottom: 1px solid #e4e4e4;
  padding-left: 16px;
  box-sizing: border-box;
  font-size: 16px;
  color: #0052B3;
  font-weight: bold;
}
.cls_skLeftPanelPlus .cls_skTabList .cls_skContentList .cls_skAccordContent .cls_skAccordTitle:after {
  padding-right: 16px;
  color: #646464;
}
.cls_skLeftPanelPlus .cls_skTabList .cls_skContentList .cls_skAccordContent .cls_skAccordSubTitle {
  margin: 0px;
  padding: 0px;
}
.cls_skLeftPanelPlus .cls_skTabList .cls_skContentList .cls_skAccordContent .cls_skAccordSubTitle .cls_skAccSubTitleName {
  line-height: 50px;
}
.cls_skLeftPanelPlus .cls_skTabList .cls_skContentList .cls_skAccordContent.active .cls_skAccordTitle {
  pointer-events: none;
}
.cls_skLeftPanelPlus .cls_skTabList .cls_skContentList .cls_skAccordContent.active .cls_skAccordTitle:after {
  transform: rotate(180deg);
  padding: 0px 0px 0px 16px;
}
.cls_skLeftPanelPlus .cls_skTabList .cls_skContentList .cls_skAccordContent.active .cls_skAccordSubTitle {
  display: block;
  border-bottom: 1px solid #e4e4e4;
  overflow: hidden;
}
.cls_skLeftPanelPlus .cls_skTabList .cls_skContentList .cls_skAccordContent.active .cls_skAccordSubTitle .cls_skAccSubTitleName {
  background-position: left center;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  text-overflow: ellipsis;
  overflow: hidden;
  line-height: 50px;
  font-size: 15px;
  color: #444444;
  text-transform: capitalize;
}
.cls_skLeftPanelPlus .cls_skTabList .cls_skContentList .cls_skAccordContent.active .cls_skAccordSubTitle .cls_skAccSubTitleName.active {
  color: #333333;
  font-weight: bolder;
  background-color: #f1f1f1;
}
.cls_skLeftPanelPlus .cls_skTabList .cls_skContentList .cls_skAccordContent:last-child .cls_skAccordTitle {
  border-bottom: none;
}
.cls_skLeftPanelPlus .cls_skTabList .cls_skContentList .cls_skAccordContent:last-child .cls_skAccordSubTitle {
  border-bottom: none;
}
.cls_skLeftPanelPlus .cls_skTabList .cls_skContentList .cls_skAccordContent:last-child.active .cls_skAccordTitle {
  border-bottom: 1px solid #e4e4e4;
}
.cls_skLeftPanelPlus .cls_skTabList .cls_skContentList .cls_skAccordContent:last-child.active .cls_skAccordTitle .cls_skAccordSubTitle {
  border-bottom: 1px solid #e4e4e4;
}

.cls_skcont {
  margin-left: 280px;
  width: calc(100% - 280px);
  counter-reset: number;
  float: left;
  position: relative;
  font-family: "Open Sans", sans-serif;
}
@media only screen and (max-width: 768px) {
  .cls_skcont {
    width: 100%;
  }
}
.cls_skcont .cls_skcontWrap {
  width: calc(100% - 250px);
  padding: 20px;
  box-sizing: border-box;
}
@media only screen and (max-width: 768px) {
  .cls_skcont .cls_skcontWrap {
    padding: 24px 20px 0 20px;
  }
}
.cls_skcont .cls_skcontWrap .cls_skdescDiv {
  width: 100%;
}
.cls_skcont .cls_skcontWrap .cls_skdescDiv .cls_sktitle {
  font-size: 26px;
  padding: 20px 0;
  text-transform: capitalize;
  font-weight: bold;
  color: #2E2F33;
}
.cls_skcont .cls_skcontWrap .cls_skdescDiv .cls_skdesc {
  line-height: 24px;
  font-size: 16px;
  text-align: justify;
}
.cls_skcont .cls_skcontWrap .cls_skdescDiv .cls_skterms {
  font-size: 16px;
  padding: 20px 0px;
}
.cls_skcont .cls_skcontWrap .cls_skdescDiv .cls_skterms a {
  color: #0057B8;
  font-weight: bold;
  text-decoration: none;
}
@media only screen and (max-width: 768px) {
  .cls_skcont .cls_skcontWrap .cls_skdescDiv .cls_skterms {
    padding: 30px 0 25px 0px;
  }
}
.cls_skcont .cls_skcontWrap .cls_skmediaDiv {
  width: 100%;
  text-align: center;
}
.cls_skcont .cls_skcontWrap .cls_skmediaDiv .cls_skmediaImg {
  width: 102px;
  height: 102px;
  display: inline-block;
  margin: 0 20px 0 0;
}
.cls_skcont .cls_skcontWrap .cls_skmediaDiv .cls_skmediaImg img {
  width: 100%;
  height: 100%;
}
.cls_skcont .cls_skcontWrap ol.cls_sktypeDiv {
  width: 100%;
  padding: 38px 0;
  list-style: none;
  font-size: 16px;
}
.cls_skcont .cls_skcontWrap ol.cls_sktypeDiv li {
  counter-increment: number;
}
.cls_skcont .cls_skcontWrap ol.cls_sktypeDiv li:before {
  width: 20px;
  line-height: 20px;
  float: left;
  margin: 0 10px 0 0;
  padding: 1px;
  border-radius: 50%;
  background-color: #0057B8;
  color: white;
  content: counter(number);
  text-align: center;
}
.cls_skcont .cls_skcontWrap ol.cls_sktypeDiv .cls_sktypeCont {
  padding: 0 0 40px 0;
  text-align: justify;
}
.cls_skcont .cls_skcontWrap ol.cls_sktypeDiv .cls_sktypeEach {
  padding: 0 0 0 30px;
  line-height: 25px;
}
.cls_skcont .cls_skcontWrap ol.cls_sktypeDiv .cls_sktypeEach .cls_sktypeTitle {
  padding: 0 10px 0 0;
  font-weight: bold;
  color: #0057B8;
}
.cls_skcont .listWrap {
  position: fixed;
  width: 250px;
  top: 110px;
  right: 0px;
  height: 100%;
  margin: 54px 0 0 0;
  border-left: 2px solid #d8e9fc;
  transition: all 0.5s ease;
  font-family: "Open Sans", sans-serif;
}
.cls_skcont .listWrap .cls_sklistWrap {
  width: 100%;
}
@media only screen and (max-width: 768px) {
  .cls_skcont .listWrap .cls_sklistWrap {
    display: none;
  }
}
.cls_skcont .listWrap .cls_sklistWrap .cls_sklistDiv {
  width: 100%;
  font-size: 16px;
}
.cls_skcont .listWrap .cls_sklistWrap .cls_sklistDiv .cls_sklistTitle {
  padding: 0 0 20px 10px;
  text-transform: uppercase;
  font-weight: bold;
}
.cls_skcont .listWrap .cls_sklistWrap .cls_sklistDiv ul.cls_sklistheadDiv {
  margin: 0px;
  list-style: none;
  padding: 0px;
}
.cls_skcont .listWrap .cls_sklistWrap .cls_sklistDiv ul.cls_sklistheadDiv .cls_sklistCont {
  padding: 0 0 20px 0;
  cursor: pointer;
}
.cls_skcont .listWrap .cls_sklistWrap .cls_sklistDiv ul.cls_sklistheadDiv .cls_sklistCont div {
  padding: 0 0 0 10px;
  position: relative;
}
.cls_skcont .listWrap .cls_sklistWrap .cls_sklistDiv ul.cls_sklistheadDiv .cls_sklistCont div.active {
  color: #0473B5;
  font-style: italic;
}
.cls_skcont .listWrap .cls_sklistWrap .cls_sklistDiv ul.cls_sklistheadDiv .cls_sklistCont div.active:before {
  content: "";
  position: absolute;
  left: -10px;
  top: 4px;
  border-top: solid 7px transparent;
  border-right: solid 8px #d8e9fc;
  border-bottom: solid 7px transparent;
  border-left: solid 0px transparent;
  transition: all 1s ease;
}

@media only screen and (min-height: 768px) and (max-height: 899px) {
  .cls_skAccordSubTitle {
    max-height: 400px !important;
    overflow-y: auto !important;
  }
}
@media only screen and (min-height: 375px) and (max-height: 767px) {
  .cls_skAccordSubTitle {
    max-height: 320px !important;
    overflow-y: auto !important;
  }
}
