@font-face {
  font-family: "Flaticon";
  src: url("http://d16rliti0tklvn.cloudfront.net/815/1497867828441.685474872.eot");
  src: url("http://d16rliti0tklvn.cloudfront.net/815/1497867828441.685474872.eot") format("embedded-opentype"),
       url("http://d16rliti0tklvn.cloudfront.net/815/1497867828428.570054754.woff") format("woff"),
       url("http://d16rliti0tklvn.cloudfront.net/815/1497867828490.1560035491.ttf") format("truetype"),
       url("http://d16rliti0tklvn.cloudfront.net/815/1497867847973.13669786.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("http://d16rliti0tklvn.cloudfront.net/815/1497867847973.13669786.svg") format("svg");
  }
}
.right_arrow_icon:before, .download_icon:before, .search_icon:before, .guide_icon:before, .api_icon:before, .help_icon:before, .authoring_icon:before, .fieldproperties_icon:before, .expand::before,
.collapse:before
{
    font-family: Flaticon;
    font-size: 20px;
    font-style: normal;
    margin-left: 20px;
}
.cls_downIcon:after, .cls_headerIcon:before, .cls_textIcon:before, .cls_numberIcon:before, .cls_dateIcon:before,.cls_cardIcon:before, .cls_radioIcon:before, .cls_checkboxIcon:before, 
.cls_textareaIcon:before
{
    font-family: Flaticon;
    padding-left: 34px;
    padding-right:20px;
}
.download_icon:before { 
    content: "\f106";
}
.search_icon:before { 
    content: "\f107"; 
}
.guide_icon:before { 
    content: "\f108"; 
}
.api_icon:before { 
    content: "\f110"; 
}
.authoring_icon:before {
    content: "\f112"; 
}
.fieldproperties_icon:before { 
    content: "\f113"; 
}
.cls_downIcon:after {
    content: "\f104";
    float: right; 
    transition: all 500ms ease;
}
.cls_headerIcon:before { 
    content: "\f108";
}
.cls_textIcon:before {
    content: "\f109";
}
.cls_numberIcon:before {
    content: "\f10a";
}
.cls_dateIcon:before {
    content: "\f10b";
}
.cls_cardIcon:before {
    content: "\f10c";
    font-weight: bold;
}
.cls_radioIcon:before {
    content: "\f10d";
}
.cls_checkboxIcon:before {
    content: "\f10e";
}
.cls_textareaIcon:before {
    content: "\f10f";
}
.expand:before {     
    content: "\f101"; 
}

.collapse:before {    
    content: "\f100"; 
}