$pc_color: #0056b9;

body {
    margin : 0;
}

@mixin headerPanel {
    .left_parent { 
        float: left;
        height: 100%;
        width: 70px;
        position: fixed;
        box-sizing: border-box;

        .pancake {
            float: left;
            width: 100%;
            height: 100%;
            background-color: rgba($pc_color, 1);
            position: relative !important;
            z-index: 1;
            margin-right: 30px;
            transition: all 0.5s ease;

            @include titleCont;
            @include contentCont;
        }
    }
};

@mixin titleCont {
    .header{
        padding: 50px;
        position : relative;
        text-align: center;

        .fb_Logo {
            width: 44px;
            height : 52px;
            background-position: -4px -4px;
            position : absolute;
            left: 12px;          
        }
        .fb_title { 
            color: #ffffff;
            font-size: 34px;
            font-family: RockwellStd;
            margin: 0;
            width: 200px;
            margin-left: 32px;
        }
    }
};
@mixin contentCont { 
    .pc_cont{
        position : absolute;
        width : 100%;
        color : #ffffff;
        text-align: left;

        .pc_data{

            .pc_list{
                height : 54px;
                line-height: 54px;
                position : relative;
                cursor : pointer;
                white-space: nowrap;

                &.selected {
                    background-color : #0049a0;

                    &:after {
                        content: "";
                        z-index: 1;
                        position: absolute;
                        top: 31%;
                        right: 0px;
                        border-top: solid 10px transparent;
                        border-right: solid 10px white;
                        border-bottom: solid 10px transparent;
                        border-left: solid 10px transparent;
                    }
                }

                &:hover {
                    background-color : rgba(0, 58, 127, 0.2);

                    &:before {
                        content: "";
                        position: absolute;
                        width: 10px;
                        height: 100%;
                        left:0;
                        background-color : #003a7f;

                    }
                }
                label[for = pc_list_text] {
                    color: #ffffff;
                    display: inline;
                    font-size: 17px;
                    font-family: MyriadPro-Regular;
                    cursor : pointer;
                    text-transform : capitalize;
                }
                #{
                    ".guide_icon", ".fieldproperties_icon", ".api_icon", ".authoring_icon", ".help_icon"
                }{
                    color : #ffffff;
                    padding-right : 32px;
                    display : inline;
                }

                .guide_icon {
                    width : 26px;
                    height : 26px;
                }
                .fieldproperties_icon {
                    width : 34px;
                    height : 35px;
                }
                .api_icon {
                    width : 35px;
                    height : 31px;
                }
                .authoring_icon, .help_icon {
                    width :32px;
                    height : 31px;
                }
            }
        }
    }     
};      

@mixin rightPanel {
    .right_parent {
        height: 126px;
        z-index : 999;
        transition: 0.5s;
        margin-left : 70px;
        width: calc(100% - 70px);
        position: fixed;
        background-color: #f2f2f2;
        padding: 20px;
        box-sizing: border-box;

        .left_cont {
            display : inline-block;
            float: left;
            font-family: MyriadWebPro;
            color : #2e2f33;

            .pc_list_title {

                .list_title {
                    font-size : 26px;   
                    text-transform: capitalize; 
                    text-align: left;
                }
            }
			.breadcrumb_home {
				.breadcrumb {
					font-size : 15px;
					text-transform: capitalize;
				}
			}
        }

        .right_cont {
            display : inline-block;
            float: right;

            .search_bar {
                display : none;
                position: relative;
                padding: 20px;

                    .search {
                        background-color: transparent;
                        border: 0;
                        border-bottom: 1px solid black;
                        outline: none;
                        color :black;
                    }
                    .search_icon {
                        width :30px;
                        height :30px;
                        position : absolute;
                        top:0px;
                        right : 8px;
                        padding-right : 20px;
                    }
                }
                .download_button {
                    width : 234px;
                    height : 82px;
                    display : inline-block;
					text-align: left;

                    .download {
                        width : 100%;
                        height : 100%;
                        background-color : #0daa7d;
                        color : white;
                        line-height : 34px;

                        .downloadtext {
                            display: inline-block;
                            padding: 8px;
                            box-sizing: border-box;

                            label[for=download] {
                                width : 100%;
                                display : block;
                                margin: 0;
                                font-size : 26px;
                            } 
                            .custom_text {
                                font-size : 17px;

                            }
                        }
                    .download_icon {
                        float : left;
                        line-height: 82px;
                    }
                
                    }
                }
        } 
    }   
};


@mixin icons {
    #{
        ".right_arrow_icon:before", ".download_icon:before", ".search_icon:before",
        ".guide_icon:before", ".api_icon:before", ".help_icon:before", ".authoring_icon:before",
        ".fieldproperties_icon:before"
    }
    {
        font-family: Flaticon;
        font-size: 20px;
        font-style: normal;
        margin-left: 20px;
    }
    .right_arrow_icon:before { 
        content: "\f103";
    }
    .download_icon:before { 
        content: "\f104";
     }
    .search_icon:before { 
        content: "\f105"; 
    }
    .guide_icon:before { 
        content: "\f106"; 
    }
    .api_icon:before { 
        content: "\f10e"; 
    }
    .help_icon:before { 
        content: "\f10f"; 
    }
    .authoring_icon:before {
        content: "\f110"; 
    }
    .fieldproperties_icon:before { 
        content: "\f111"; 
    }

};

@mixin init {
    
        @include headerPanel;
        @include rightPanel;
        @include icons;

};

@include init;
